USE [BDFE]
GO
/****** Object:  Table [dbo].[COMPROBANTE]    Script Date: 22/02/2018 11:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPROBANTE](
	[PK_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PK_FICHERO] [varchar](120) NOT NULL,
	[C_NUM_DOC] [varchar](16) NULL,
	[C_TIP_DOC] [varchar](2) NULL,
	[C_COD_UBG] [varchar](15) NULL,
	[C_RUC_CLI] [varchar](20) NULL,
	[C_RA_SOC] [varchar](255) NULL,
	[C_TOT_TRA] [varchar](15) NULL,
	[C_DES_GBL] [varchar](11) NULL,
	[C_FEC_EMS] [varchar](10) NULL,
	[C_FLG_SPT] [varchar](1) NULL,
	[TI_IMP_TOT] [decimal](13, 2) NULL,
	[TI_IMP_ITR] [varchar](3) NULL,
	[D_NUM_DOC] [varchar](16) NULL,
	[D_ITM_TOT] [decimal](15, 2) NULL,
	[D_ITM_PRU] [decimal](15, 2) NULL,
	[D_ITM_IMP] [decimal](13, 2) NULL,
	[D_ITM_IMS] [decimal](13, 2) NULL,
	[D_ITM_ITR] [varchar](4) NULL,
	[D_ITM_CMA] [varchar](18) NULL,
	[D_ITM_VUN] [decimal](13, 2) NULL,
	[D_ITM_DES] [decimal](13, 2) NULL,
	[IA_NUM_DOC] [varchar](16) NULL,
	[IA_IAG_COD] [varchar](4) NULL,
	[IA_IAG_DES] [varchar](255) NULL,
	[DA_DAF_DOC] [varchar](16) NULL,
	[DA_DAF_TDN] [varchar](3) NULL,
	[DA_DAF_TDA] [varchar](2) NULL,
	[DA_DAF_FEC] [varchar](10) NULL,
	[E_FEC_CARGA] [date] NULL,
	[E_HR_CARGA] [varchar](8) NULL,
	[E_FLG_ESTADO] [bit] NULL,
	[E_COD_STA] [varchar](10) NULL,
	[E_DES_STA] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[comprobantelog]    Script Date: 22/02/2018 11:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comprobantelog](
	[PK_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PK_IDA] [numeric](18, 0) NULL,
	[NUM_DOC] [varchar](16) NULL,
	[NUM_DOCA] [varchar](16) NULL,
	[COD_STA] [char](10) NULL,
	[DES_STA] [varchar](500) NULL,
	[FEC_EMI] [char](10) NULL,
	[FEC_REG] [datetime] NULL,
	[TIP_REG] [char](1) NULL,
	[TIP_DOC] [char](2) NULL,
	[EST_REG] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COMPROBANTE] ON 

GO
SET IDENTITY_INSERT [dbo].[COMPROBANTE] OFF
SET IDENTITY_INSERT [dbo].[comprobantelog] ON 

INSERT [dbo].[comprobantelog] ([PK_ID], [PK_IDA], [NUM_DOC], [NUM_DOCA], [COD_STA], [DES_STA], [FEC_EMI], [FEC_REG], [TIP_REG], [TIP_DOC], [EST_REG]) VALUES (CAST(2490 AS Numeric(18, 0)), CAST(5566746 AS Numeric(18, 0)), N'F242-0056837', NULL, N'WARN      ', N'No se logró llamar a la Suit e-bill', N'05/02/2018', CAST(N'2018-02-20 20:42:58.853' AS DateTime), NULL, N'FV', 1)
INSERT [dbo].[comprobantelog] ([PK_ID], [PK_IDA], [NUM_DOC], [NUM_DOCA], [COD_STA], [DES_STA], [FEC_EMI], [FEC_REG], [TIP_REG], [TIP_DOC], [EST_REG]) VALUES (CAST(2491 AS Numeric(18, 0)), CAST(5566845 AS Numeric(18, 0)), N'F242-0056838', NULL, N'WARN      ', N'No se logró llamar a la Suit e-bill', N'05/02/2018', CAST(N'2018-02-20 20:43:01.080' AS DateTime), NULL, N'FV', 1)
INSERT [dbo].[comprobantelog] ([PK_ID], [PK_IDA], [NUM_DOC], [NUM_DOCA], [COD_STA], [DES_STA], [FEC_EMI], [FEC_REG], [TIP_REG], [TIP_DOC], [EST_REG]) VALUES (CAST(2492 AS Numeric(18, 0)), CAST(5566915 AS Numeric(18, 0)), N'F242-0056840', NULL, N'WARN      ', N'No se logró llamar a la Suit e-bill', N'05/02/2018', CAST(N'2018-02-20 20:43:03.313' AS DateTime), NULL, N'FV', 1)
GO
SET IDENTITY_INSERT [dbo].[comprobantelog] OFF
/****** Object:  StoredProcedure [dbo].[USP_COMPROBANTE_ACTUALIZAR_ALERTA]    Script Date: 22/02/2018 11:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_COMPROBANTE_ACTUALIZAR_ALERTA](
	@PK_ID		NUMERIC(18,0),
	@PC_NUM_DOC  [varchar](16) ='',
	@PC_NUM_DOCA [varchar](16) ='',
	@C_SERIE	 [varchar](10) ='',
	@C_FEC_DESDE [varchar](10) ='',
	@C_FEC_HASTA [varchar](10) ='' 
	)
AS
BEGIN
 
UPDATE [dbo].[comprobante] SET [E_FLG_ESTADO]=1 
WHERE PK_ID = @PK_ID
  
END
GO
/****** Object:  StoredProcedure [dbo].[USP_COMPROBANTE_CONSULTAR_ALERTAEXP]    Script Date: 22/02/2018 11:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_COMPROBANTE_CONSULTAR_ALERTAEXP](
	@PK_ID		NUMERIC(18,0),
	@PC_NUM_DOC  [varchar](16) ='',
	@PC_NUM_DOCA [varchar](16) ='',
	@C_SERIE	 [varchar](10) ='',
	@C_FEC_DESDE [varchar](10) ='',
	@C_FEC_HASTA [varchar](10) ='' 
	)
AS
BEGIN
 
SELECT * FROM  [dbo].[comprobantelog]  
WHERE
SUBSTRING(NUM_DOC,1,4)= @PC_NUM_DOC  AND
NUM_DOC = SUBSTRING(@PC_NUM_DOC,1,4) AND
FEC_EMI = @C_FEC_DESDE AND
FEC_EMI = @C_FEC_HASTA 


  
END

GO
/****** Object:  StoredProcedure [dbo].[USP_COMPROBANTE_CONSULTAR_CABECERA]    Script Date: 22/02/2018 11:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_COMPROBANTE_CONSULTAR_CABECERA](
	@PK_ID		NUMERIC(18,0),
	@PC_NUM_DOC  [varchar](16) ='',
	@PC_NUM_DOCA [varchar](16) ='',
	@C_SERIE	 [varchar](10) ='',
	@C_FEC_DESDE [varchar](10) ='',
	@C_FEC_HASTA [varchar](10) ='' 
	)
AS
BEGIN
 
SELECT * FROM  [dbo].[comprobante]  
WHERE
SUBSTRING(C_NUM_DOC,1,4)= @PC_NUM_DOC  AND
C_NUM_DOC = SUBSTRING(@PC_NUM_DOC,1,4) AND
C_FEC_EMS = @C_FEC_DESDE AND
C_FEC_EMS = @C_FEC_HASTA 


  
END

GO
/****** Object:  StoredProcedure [dbo].[USP_COMPROBANTE_CONSULTAR_DETALLE]    Script Date: 22/02/2018 11:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_COMPROBANTE_CONSULTAR_DETALLE](
	@PK_ID		NUMERIC(18,0),
	@PC_NUM_DOC  [varchar](16) ='',
	@PC_NUM_DOCA [varchar](16) ='',
	@C_SERIE	 [varchar](10) ='',
	@C_FEC_DESDE [varchar](10) ='',
	@C_FEC_HASTA [varchar](10) ='' 
	)
AS
BEGIN
 
SELECT * FROM  [dbo].[comprobante]  
WHERE
SUBSTRING(C_NUM_DOC,1,4)= @PC_NUM_DOC  AND
C_NUM_DOC = SUBSTRING(@PC_NUM_DOC,1,4) AND
C_FEC_EMS = @C_FEC_DESDE AND
C_FEC_EMS = @C_FEC_HASTA 


  
END

GO
